@use "../basics/variables" as *;
@use "../basics/mixins" as *;

[data-theme="light"] {
	.colormode {
		background-color: var(--wp--preset--color--black);

		span {
			left: 51%;
			background-color: var(--wp--preset--color--white);
		}

		.colormode__moon,
		.colormode__sun {
			fill: var(--wp--preset--color--blue);
		}
	}
}

.colormode {
	width: 72px;
	height: 35px;
	margin: unset !important;
	border-radius: 100px;
	border: none;
	position: relative;
	transform: translateY(-75px);
	z-index: 9;
	background-color: var(--wp--preset--color--white);
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background-color 0.3s ease;

	&__sun,
	&__moon {
		height: 80%;
		width: auto;
		pointer-events: none;
		transition: all 0.3s ease;
	}

	span {
		height: 94%;
		aspect-ratio: 1 / 1;
		display: block;
		background-color: black;
		position: absolute;
		top: 3%;
		left: 2%;
		border-radius: 100%;
		pointer-events: none;
		transition: all 0.3s ease;
	}

	&:hover {
		cursor: pointer;

		&::after,
		&::before {
			opacity: 1;
		}
	}

	//tooltip
	&::before,
	&::after {
		position: absolute;
		background-color: var(--wp--preset--color--blue);
		transition: opacity 0.3s ease;
		opacity: 0;
	}

	&::before {
		content: "";
		clip-path: polygon(50% 0, 0% 100%, 100% 100%);
		width: 1.5rem;
		height: 0.45rem;
		top: 100%;
		left: 25%;
	}

	&::after {
		content: "Zwischen hellem und dunklem Design wechseln";
		font-size: var(--wp--preset--font-size--base);
		padding: 0.125rem 0.5rem;
		width: 200%;
		top: 120%;
		right: 0;
		border-radius: 0.5rem;
	}

	@include breakpoint($w_md) {
		transform: translateY(-60px);
	}
}
