@use "../basics/variables" as *;
@use "../basics/mixins" as *;

@include slideUp;

.contactHero {
	&__content {
		h1 {
			opacity: 0;
			animation: slideUp 1.2s ease 0s forwards;
		}

		h2 {
			max-width: 35rem;
			opacity: 0;
			animation: slideUp 1.2s ease 0.2s forwards;
		}

		figure {
			img {
				height: 50lvh;
				max-height: 36rem;
				border-top-left-radius: 125px !important;
				border-bottom-right-radius: 125px !important;
				opacity: 0;
				animation: fadeIn 1.2s ease 0.2s forwards;
			}

			@keyframes fadeIn {
				from {
					opacity: 0;
					filter: blur(5px);
				}
				to {
					opacity: 1;
					filter: blur(0);
				}
			}
		}
	}

	@include breakpoint($w_sm) {
		margin-top: var(--wp--preset--spacing--100) !important;
	}

	@include breakpoint($w_md) {
		&__content {
			align-items: unset !important;
			gap: 1.5rem !important;

			figure {
				margin-top: unset !important;

				img {
					aspect-ratio: 16 / 9 !important;
					max-height: 25rem;
					animation-delay: 0.4s;
				}
			}

			h1 {
				order: 3;
				text-align: left;
				font-size: 8vw !important;
			}

			h2 {
				margin-right: var(--wp--preset--spacing--60);
				text-align: right;
				align-self: flex-end;
				color: var(--wp--preset--color--white) !important;
				font-size: var(--wp--preset--font-size--subtitle) !important;
			}
		}
	}
}
