@use "../basics/variables" as *;
@use "../basics/mixins" as *;

.contactHero {
	&__text {
		gap: 0;

		h1 {
			background: url(../../images/background.webp);
			background-position: right;
			background-size: cover;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 22.5vw;
			line-height: 110%;
			font-weight: 900;
		}

		h2 {
			max-width: 35rem;
		}
	}

	&__img {
		display: none;
	}

	@include breakpoint($w_sm) {
		&__grid {
			grid-template-columns: 1.5fr 3fr;
			align-items: center;
		}

		&__img {
			display: block;
			height: 50vw;
			max-height: 60rem;

			img {
				width: 100%;
				height: 100% !important;
				object-fit: cover;
				border-radius: 6rem 2rem;
			}
		}

		&__text {
			h1 {
				font-size: 16vw;
			}

			h2 {
				font-size: var(--wp--preset--font-size--large) !important;
				max-width: 45rem;
			}
		}
	}

	@include breakpoint($w_xxl) {
		&__text {
			h1 {
				font-size: 22rem;
			}
		}
	}
}
