@use "../basics/variables" as *;
@use "../basics/mixins" as *;

.blog {
	.wp-block-query {
		margin-top: var(--wp--preset--spacing--60);
	}

	&__card {
		figure {
			width: 100%;
			aspect-ratio: 18 / 10;
			overflow: hidden;
			border-radius: 1.5rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: scale 0.5s ease;
			}

			&:hover {
				img {
					scale: 1.03;
				}
			}
		}
	}

	&__textContainer {
		h2 a {
			color: var(--wp--preset--color--white);
			text-decoration: none;
		}

		& > a {
			transition: color 0.3s ease;

			&:hover {
				color: var(--wp--preset--color--blue) !important;
			}
		}
	}

	@include breakpoint($w_md) {
		&__intro {
			padding: 0 1rem;
			flex-wrap: nowrap;
			gap: 3rem;
			align-items: flex-end;
			justify-content: space-between;

			h1,
			p {
				width: 50%;
			}

			p {
				text-align: right;
			}
		}

		.wp-block-query {
			margin-top: var(--wp--preset--spacing--80);
		}

		&__card {
			padding: var(--wp--preset--spacing--50) !important;
		}

		&__grid li {
			&:not(:first-of-type) {
				.blog__card {
					display: flex;
					align-items: center;
					gap: var(--wp--preset--spacing--50);
				}

				figure {
					aspect-ratio: 1 / 1;
					max-width: 17rem;
				}

				.blog__textContainer {
					margin-top: 0;
				}
			}
		}
	}

	@include breakpoint($w_lg) {
		&__intro {
			padding: 0 2rem;
		}

		&__grid {
			grid-template-columns: 0.85fr 1fr;
			grid-template-rows: repeat(3, auto);
			gap: var(--wp--preset--spacing--40);

			li {
				&:first-of-type {
					grid-row: 1 / 4;

					.blog__card {
						height: 100%;
					}

					figure {
						aspect-ratio: 9 / 12;
						max-height: 600px;
					}
				}

				&:not(:first-of-type) {
					.blog__card {
						gap: var(--wp--preset--spacing--40);
					}

					figure {
						max-width: 15rem;
					}

					h2 {
						font-size: var(
							--wp--preset--font-size--paragraph-large
						) !important;
					}

					p {
						font-size: 1.125rem !important;
					}
				}
			}
		}
	}

	@include breakpoint($w_xl) {
		&__grid {
			gap: var(--wp--preset--spacing--50);
		}
	}
}
