@use "../basics/variables" as *;
@use "../basics/mixins" as *;

.blog {
	&__card {
		figure {
			width: 100%;
			height: 100%;
			aspect-ratio: 18 / 10;
			overflow: hidden;
			border-radius: 1.5rem 1.5rem 0 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: scale 0.5s ease;
			}

			&:hover {
				img {
					scale: 1.03;
				}
			}
		}
	}

	&__textContainer {
		a {
			transition: color 0.3s ease;

			&:hover {
				color: var(--wp--preset--color--blue) !important;
			}
		}
	}

	.wp-block-query {
		margin-top: var(--wp--preset--spacing--60);
	}

	@include breakpoint($w_sm) {
		&__card {
			display: flex;
			align-items: center;
			gap: 2rem;
			padding-bottom: var(--wp--preset--spacing--40) !important;

			figure {
				aspect-ratio: 9 / 16;
			}
		}

		&__textContainer {
			margin-top: 0;
		}
	}

	@include breakpoint($w_md) {
		&__intro {
			flex-wrap: nowrap;
			gap: 3rem;
			align-items: flex-end;
			justify-content: space-between;

			h1,
			p {
				width: 50%;
			}

			p {
				max-width: 45rem;
				text-align: right;
			}
		}

		.wp-block-query {
			margin-top: var(--wp--preset--spacing--80);
		}

		&__grid {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			gap: var(--wp--preset--spacing--40);

			li {
				&:nth-of-type(1) {
					grid-row: 1 / 4;

					.blog__card {
						display: block;

						figure {
							aspect-ratio: 1 / 1;
						}
					}

					.blog__textContainer {
						margin-top: var(--wp--preset--spacing--40);
					}
				}

				&:not(:nth-of-type(1)) {
					.blog__card {
						gap: 1rem;
						height: 100%;

						figure {
							aspect-ratio: 1 / 1;
						}

						h2 {
							font-size: var(
								--wp--preset--font-size--paragraph-large
							) !important;
						}

						p {
							font-size: 1rem !important;
						}
					}

					.blog__textContainer {
						padding: 0 !important;
					}
				}
			}
		}
	}

	@include breakpoint($w_xl) {
		&__grid {
			gap: 1.5rem;

			li {
				&:nth-of-type(1) {
					.blog__card {
						padding: var(--wp--preset--spacing--50) !important;

						figure {
							aspect-ratio: unset;

							img {
								max-height: 25rem;
							}
						}
					}
				}

				&:not(:nth-of-type(1)) {
					.blog__card {
						figure {
							max-width: 10rem;
						}
					}
				}
			}
		}
	}
}
