@use "../basics/variables" as *;
@use "../basics/mixins" as *;

.sidebar {
	align-self: start;

	@include breakpoint($w_md) {
		position: sticky;
		top: 15lvh;

		p {
			font-size: 0.875rem !important;
		}

		&__grid {
			figure img {
				height: 100%;
			}
		}
	}
}
