@use "../basics/variables" as *;
@use "../basics/mixins" as *;

.singleHero {
	@include breakpoint($w_md) {
		&__grid {
			padding: 0 1rem;
			grid-template-columns: repeat(2, 1fr);
			align-items: end;
			justify-items: end;
			gap: 2rem;

			div:first-of-type {
				justify-self: start;
			}

			h1,
			.singleHero__date {
				text-align: left;
			}
		}

		&__excerpt {
			text-align: right;
			max-width: 50rem;
		}
	}

	@include breakpoint($w_xl) {
		&__grid {
			padding: 0 2rem;
		}
	}
}
