@use "../basics/variables" as *;
@use "../basics/mixins" as *;

.stats {
	&__progress {
		&--container,
		&--bar {
			display: block;
			border-radius: 3rem;
		}

		&--container {
			margin-top: 0.5rem;
			border: 2px solid var(--wp--preset--color--white);
			width: 100%;
			height: 2.5rem;
		}

		&--bar {
			width: var(--percent);
			height: 100%;
			display: flex;
			align-items: center;
			background-color: var(--wp--preset--color--blue);
		}

		&--percent {
			padding-left: 1.5rem;
			color: var(--wp--preset--color--white);
			font-size: var(--wp--preset--font-size--base);
			font-weight: 600;
		}

		&--text {
			padding-right: var(--wp--preset--spacing--60);
			color: var(--wp--preset--color--white);
		}
	}

	&__distance {
		margin-top: 0.75rem;
	}

	&__map {
		border-radius: 24px;
	}

	@include breakpoint($w_md) {
		&__progress {
			&--container {
				height: 3.5rem;
			}

			&--text {
				font-size: unset;
			}
		}
	}
}
