.sticky-nav {
	z-index: 10;
	ul {
		gap: 0.5rem;

		li {
			border: 2px solid var(--wp--preset--color--white);
			border-radius: 1.5rem;
			position: relative;
			background-color: var(--wp--preset--color--black) !important;
			transition:
				background-color 0.4s ease,
				border-color 0.5s ease;

			a {
				padding: 0.375rem 0.75rem;
			}

			&::after {
				content: "";
				position: absolute;
				top: -2px;
				left: -2px;
				z-index: -1;
				width: calc(100% + 4px);
				height: calc(100% + 4px);
				border-radius: 1.5rem;
				background: var(--wp--preset--color--white);
				transition: all 0.6s ease;
			}

			&.activeSectionLink,
			&:hover {
				background-color: rgba(black, 0.7) !important;
				border-color: transparent;

				&::after {
					background: linear-gradient(
						45deg,
						#3df2b6,
						#be9af7,
						#eb77a7
					);
					filter: blur(12px);
				}
			}
		}
	}
}
