@use "../basics/variables" as *;
@use "../basics/mixins" as *;

.walk {
	&__text {
		p {
			max-width: 40rem;
		}
	}

	@include breakpoint($w_lg) {
		&__text {
			padding: 1rem;

			h1 {
				font-size: var(--wp--preset--font-size--slider) !important;
			}

			p {
				width: 50%;
				max-width: 50rem;
			}
		}
	}
}
