@use "../basics/variables" as *;
@use "../basics/mixins" as *;
@use "./guitar" as *;

.design {
	@include breakpoint($w_md) {
		&__grid {
			grid-template-columns: 2fr 1.4fr;

			h1 {
				grid-column: 1 / 3;
			}
		}

		&__brewery {
			grid-row: 2 / 4;
		}

		&__restaurant {
			grid-row: 3 / 4;
		}

		&__movie {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}

		&__shirt {
			grid-column: 1 / 3;
			grid-row: 6 / 7;
		}

		&__guitar {
			grid-column: 1 / 3;
			grid-row: 4 / 5;
		}
	}
}
