@use "../basics/variables" as *;
@use "../basics/mixins" as *;
@use "../components/portfolio-hero" as *;
@use "../components/works-websites" as *;
@use "../components/works-design" as *;
@use "../components/works-misc" as *;
@use "../components/sticky-nav" as *;

.works {
	margin-top: -30%;

	&__section {
		scroll-margin-top: 10rem;
	}

	@include breakpoint($w_sm) {
		margin-top: -20%;
	}
}
