@use "./components/header" as *;
@use "./components/footer" as *;
@use "./basics/variables" as *;
@use "./basics/mixins" as *;
@use "./basics/placeholders" as *;

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: var(--wp--preset--color--black);
}

main {
	margin-block-start: 0;
}

p {
	line-height: var(--wp--custom--line-height--paragraph);
	font-size: var(--wp--preset--font-size--paragraph-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: var(--wp--custom--line-height--heading);
}

h1,
h2 {
	strong {
		background: linear-gradient(90deg, #7057ff, #ff5d5d);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

a {
	color: var(--wp--preset--color--green);
	text-decoration: none;
	transition: color 0.3s ease;

	&:hover {
		color: var(--wp--preset--color--blue);
	}
}

div.reveal {
	@extend %textIn;

	&--active {
		@extend %textOut;
	}
}

figure.reveal {
	@extend %imgIn;

	&--active {
		@extend %imgOut;
	}
}

.ioSection {
	scroll-margin-top: 10rem;
}

@include breakpoint($w_md) {
	p {
		font-size: var(--wp--preset--font-size--paragraph-large) !important;
	}

	section.has-global-padding,
	main.has-global-padding {
		&:not(section.hero) {
			padding-right: 2.5rem;
			padding-left: 2.5rem;
		}
	}
}
